.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mlist {
  display: flex;
  justify-content: space-evenly ;
  flex-wrap: wrap;
  gap : 40px ;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
}
.btnadd{
  margin-inline-end: 40px;
}
.ed {
  gap: 54px;

}
.del {
  margin-inline-start: 20px;


  
}
body {
  background-color: #282c34;
}
.rat { 
  margin-inline-end: 20px;
}
.delee {
  margin-inline-start: 15px;
}